{% extends "base.html" %}

{% block content %}

<div class="container-fluid"></div>



</div>
<div class="home-btn d-flex justify-content-center">
    <a class="btn btn-home btn-lg btn-link" href="{% url 'talents' %}">Talents</a>

</div>

<div class="row intro-msg">

    <p>Welcome to TalentEd, where your talents are worth sharing.</p>
    <p>We help talented people to find their dream jobs.</p>
    <p>Below you have more information about us and instructions on how our systems work.</p>

</div>
<div class="accordion" id="accordionExample">
    <div class="card card-home">
        <div class="card-header " id="headingOne">
            <h5 class="mb-0">
                <button class="btn  btn-clp btn-link" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <b>About</b>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p><b class="about-head">Who are we ?</b></p>
                <p>TalentEd is a platform where you can share your amazing talents and get hired.</p>
                <p>It is a freelancing website where we help you get hired for your talents.</p>
                <p>We help all our talented and interested clients to get hired.</p>
                <p>We believe that everyone is talented and they deserve a chance to share it with the world.</p>
                <p>We are 100% free.</p>
                <p><b class="about-head">Contact Us</b></p>
                <p>You can easily get in touch with us through this <a href="mailto:soyaronur@gmail.com"
                        class="link-btn">link</a> or the social media accounts at the bottom of this page.
                </p>
            </div>
        </div>
    </div>
    <div class="card card-home">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-clp btn-link collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>Share your talents & get paid</b>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p><b class="about-head">Do you have talents to share?</b></p>
                <p>You can easily create your own portfolio.</p>
                <p>You can easily sign-up.</p>
                <p>You can easily post your skills and talents on our platform.</p>
                <p>You can like and comment other's talent.</p>
                <p>All the comments must be approved by TalentEd first.</p>
                <p><b class="about-head">How can I create a portfolio?</b></p>
                <p>We take authentication and security very seriously.</p>
                <p>In order for you to create a portfolio, you will need to send your information to <a
                        href="mailto:soyaronur@gmail.com" class="link-btn">us.</a></p>
                <p>You will need to send your CV, Cover Letter and a suitable picture.</p>
                <p><b class="about-head">Where do I sent it to?</b></p>
                <p>You can send it to this <a href="mailto:soyaronur@gmail.com" class="link-btn">link</a></p>

            </div>
        </div>
    </div>
    <div class="card card-home">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn  btn-clp btn-link collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>Interested in hiring someone?</b>
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p><b class="about-head">You can get in touch.</b></p>
                <p>You can easily sign-up.</p>
                <p>You need to sign up to like or comment.</p>
                <p>All the comments must be approved by TalentEd first.</p>
                <p><b class="about-head">How can I contact a talent?</b></p>
                <p>You can always like or comment a talents profile.</p>
                <p>If the person has shared any contact information, you can use that to get in touch.</p>
                <p>You can get in touch with us if you are interested in hiring someone.</p>
                <p><b class="about-head">How do I get in toch?</b></p>
                <p>You can send in your interest alongside the talents name to this <a href="mailto:soyaronur@gmail.com"
                        class="link-btn">link.</a></p>
            </div>
        </div>
    </div>

</div>

<div class="embed-responsive embed-responsive-16by9 home-video">
    <iframe class="video embed-responsive-item" src="https://www.youtube.com/embed/TTYOpfGvlwc?controls=0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>

</div>
{%endblock%}